pydantic
python-dotenv
langchain-openai
langchain-groq
langchain
langchain-core
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain_huggingface
sentence-transformers
faiss-cpu
langchain_google_genai
langchain-pinecone
youtube_search
langgraph
chromadb
langchain-chroma
langchain_groq
duckduckgo_search
langchain_community
yfinance
ddgs